* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}
#semantic {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
.info,
.image {
  flex: 1;
}
.info h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.info p {
  margin-bottom: 30px;
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  border: none;
  outline: none;
  background-color: royalblue;
  border-radius: 5px;
}
.btn:hover {
  background-color: skyblue;
}
.btn:hover a {
  color: #333;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  width: 60%;
}
